<p id="notice"><%= notice %></p>

<h1><%= I18n.t('cars.cars') %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= I18n.t('cars.model') %></th>
      <th><%= I18n.t('cars.brand') %></th>
      <th><%= I18n.t('cars.color') %></th>
      <th><%= I18n.t('cars.year') %></th>
      <th><%= I18n.t('cars.value') %></th>
      <th><%= I18n.t('cars.image') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
<<<<<<< HEAD
      <% if @cars.count < 1 %>
        <h2><%= I18n.t('cars.no_cars') %></h2>
      <% else %>
        <% @cars.each do |car| %>
          <tr>
            <td><%= car.model %></td>
            <td><%= car.brand %></td>
            <td><%= car.color %></td>
            <td><%= car.year %></td>
            <td><%= car.value %></td>
            <% if user_signed_in? %>
              <td><%= link_to I18n.t('menu.show'), car, class: 'btn btn-primary'%></td>
              <td><%= link_to I18n.t('menu.edit'), edit_car_path(car), class: 'btn btn-warning' %></td>
              <td><%= link_to I18n.t('menu.destroy'), car, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger' %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
=======
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.model %></td>
        <td><%= car.brand %></td>
        <td><%= car.color %></td>
        <td><%= car.year %></td>
        <td><%= car.value %></td>
        <td><%= image_tag(car.image_url(:thumb).to_s) %></td>
        <td><%= link_to I18n.t('menu.show'), car, class: 'btn btn-primary'%></td>
        <td><%= link_to I18n.t('menu.edit'), edit_car_path(car), class: 'btn btn-warning' %></td>
        <td><%= link_to I18n.t('menu.destroy'), car, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
>>>>>>> 278fc89cf0d443765c939dd3c3bab66b5c8201d8
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to I18n.t('cars.new'), new_car_path, class: 'btn btn-primary' %>
<% end %>