<p id="notice"><%= notice %></p>

<p>
  <strong><%= I18n.t('cars.model') %>:</strong>
  <%= @car.model %>
</p>

<p>
  <strong><%= I18n.t('cars.brand') %>:</strong>
  <%= @car.brand %>
</p>

<p>
  <strong><%= I18n.t('cars.color') %>:</strong>
  <%= @car.color %>
</p>

<p>
  <strong><%= I18n.t('cars.year') %>:</strong>
  <%= @car.year %>
</p>

<p>
  <strong><%= I18n.t('cars.value') %>:</strong>
  <%= @car.value %>
</p>

<%= link_to I18n.t('menu.edit'), edit_car_path(@car), class: "btn btn-warning" %> |
<%= link_to I18n.t('menu.back'), cars_path, class: "btn btn-primary" %>
